<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/upload.css') }}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple File Upload (Client-Side and Server-Side)</title>
</head>
<body>
    <h1>Multiple File Upload (Client-Side and Server-Side)</h1>
    <form method="POST" action="/upload/" enctype="multipart/form-data">
        <label for="file" class="file-upload-btn">파일 선택</label>
        <input type="file" id="file" name="files" accept=".jpg, .jpeg, .png, .gif" multiple onchange="previewFiles()">
        <div id="file-list"></div>
        <div id="file-count">총 <span id="count">0</span>개의 파일이 업로드되었습니다.</div>
        <button type="submit" class="file-upload-btn">파일 업로드</button>
    </form>

    <script>
        function previewFiles() {
            const fileListDiv = document.getElementById('file-list');
            const fileCountSpan = document.getElementById('count');
            const fileInput = document.getElementById('file');
            const files = fileInput.files;

            fileListDiv.innerHTML = '';

            if (files.length === 0) {
                fileListDiv.innerHTML = '파일을 선택하세요.';
            } else {
                const ul = document.createElement('ul');

                for (let i = 0; i < files.length; i++) {
                    const li = document.createElement('li');
                    li.textContent = files[i].name;

                    // 파일명이 길면 줄여서 표시
                    if (li.textContent.length > 25) {
                        li.textContent = li.textContent.substring(0, 25) + '...';
                    }

                    ul.appendChild(li);
                }

                fileListDiv.appendChild(ul);
            }

            fileCountSpan.textContent = files.length;
        }
    </script>
</body>
</html>
