<!DOCTYPE HTML>
<html>
	<html lang="en">
		<head>
			<title>SPOit</title>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
			<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">Spoit</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="#">This is SPOit data analysis</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://www.youtube.com/channel/UC6gPRHpJ6HqvKj5f7SAwAyQ" class="icon brands alt fa-youtube" target="_blank"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.instagram.com/spoitofficial/" class="icon brands alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
							<li><a href="http://spoit.io/main/index.php" class="icon brands alt fa-dribbble" target=”_blank”><span class="label">Website</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<h1>AI<br />
									객체 탐지</h1>
									<a href="{{URL}}" download = "images.zip" class="button icon solid fa-download">Uploaded Images</a>
									<p>위 버튼은 업로드된 이미지를 다시 다운 받습니다.</p>
								</header>
								<!-- <div class="image main"><img src="images/detected.gif" alt="" /></div> -->
								<span class="image fit"><img src="{{ url_for('static', filename='images/detected.png') }}" alt="detected" /></span>
								<p>이 페이지에서는 AI가 각 영상을 탐지하고, 선수, 공, 심판, 골키퍼로 구분해 낼 것입니다.<br />
									평가자님께서는 업로드 된 이미지의 다운로드, 또는 객체 탐지의 정확도를 확인하실 수 있습니다.
								</p>
								
							</section>

					</div>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Spoit</li></ul>
					</div>

			</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>